<div class="content mobile-track">
    <div class="text-field">
        <input class="mobile-tool-input" type="text" placeholder="Name" v-model="newTripName">
        <div class="date">{{ PopupsDateTime }}</div>
    </div>
    <div class="row buttons-row">
        <h3>Start Tracking Location</h3>
        <div class="col-xs-12 big-btn" v-if="currentTrip == null">
            <button class="green-btn" @click="startTrip">{{ tripTrackingToolLabel }}</button>
        </div>
        <div class="col-xs-12 big-btn" v-if="currentTrip != null && tripIsGoing == false">
            <button class="green-btn" @click="resumeTrip">Resume Trip</button>
        </div>

        <div class="col-xs-6 small-btn" v-if="currentTrip != null && tripIsGoing == true">
            <button class="gray-btn lighter-gray" @click="pauseTrip">Pause</button>
        </div>
        <div class="col-xs-6 small-btn" v-if="currentTrip != null && tripIsGoing == true">
            <button class="orange-btn btn-danger" @click="stopTripOnly">Stop</button>
        </div>

        <div class="col-xs-6 small-btn">
            <button class="gray-btn" @click="stopAndDeleteCurrentTrip">Delete</button>
        </div>
        <div class="col-xs-6 small-btn">
            <button class="orange-btn" @click="saveTrip">Save</button>
        </div>
    </div>
</div>