<form>
    <div class="type-item">
        <label>
            <input type="radio" v-model="newMarker.icon" value="img/waypoints/WaypointAntelope.svg" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Antelope.png">
            <span>Antelope</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input type="radio" v-model="newMarker.icon" value="img/waypoints/WaypointATV.svg" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/ATV.png">
            <span>ATV</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointBear.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Bear.png">
            <span>Bear</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointBike.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Bike.png">
            <span>Bike</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointBlind.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Blind.png">
            <span>Blind</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointBoat Ramp.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Boat-Ramp.png">
            <span>Boat Ramp</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointBuck.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Buck.png">
            <span>Buck</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointCaution.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Caution.png">
            <span>Caution</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointCave.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Cave.png">
            <span>Cave</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Waypointclimbing.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/climbing.png">
            <span>climbing</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointCoyote.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Coyote.png">
            <span>Coyote</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Dirt-Bike.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Dirt-Bike.png">
            <span>Dirt Bike</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointDoe.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Doe.png">
            <span>Doe</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointDuck.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Duck.png">
            <span>Duck</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointElk.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Elk.png">
            <span>Elk</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointFishing.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Fishing.png">
            <span>Fishing</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointForaging.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Foraging.png">
            <span>Foraging</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Forrest-Fire.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Forrest-Fire.png">
            <span>Forrest Fire</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointGate.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Gate.png">
            <span>Gate</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointGeese.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Geese.png">
            <span>Geese</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Generic-Tracks.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Generic-Tracks.png">
            <span>Generic Tracks</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointGoat.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Goat.png">
            <span>Goat</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointHiking.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Hiking.png">
            <span>Hiking</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointHog.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Hog.png">
            <span>Hog</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Horseback-Riding.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Horseback-Riding.png">
            <span>Horseback Riding</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointLookout.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Lookout.png">
            <span>Lookout</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointMeat.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Meat.png">
            <span>Meat</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointMoose.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Moose.png">
            <span>Moose</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Mountain-lion.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Mountain-lion.png">
            <span>Mountain lion</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointPaddle.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Paddle.png">
            <span>Paddle</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointPheasant.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Pheasant.png">
            <span>Pheasant</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/River-Source.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/River-Source.png">
            <span>River-Source</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointScat.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Scat.png">
            <span>Scat</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointScrape.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Scrape.png">
            <span>Scrape</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointSheep.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Sheep.png">
            <span>Sheep</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointSnowMobile.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/SnowMobile.png">
            <span>SnowMobile</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointSwimming.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Swimming.png">
            <span>Swimming</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointTent.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Tent.png">
            <span>Tent</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointTracks.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Tracks.png">
            <span>Tracks</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointTrap.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Trap.png">
            <span>Trap</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/Tree-Strand.png" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Tree-Strand.png">
            <span>Tree Strand</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointTruck.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Truck.png">
            <span>Truck</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointTurkey.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Turkey.png">
            <span>Turkey</span>
        </label>
    </div>
    <div class="type-item">
        <label>
            <input v-model="newMarker.icon" value="img/waypoints/WaypointWolf.svg" type="radio" class="type-item-radio" name="type">
            <img src="../img/waypoint-circles/Wolf.png">
            <span>Wolf</span>
        </label>
    </div>
</form>